w
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}



header, section, footer {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


header {
    text-align: center;
    background:linear-gradient(to right,thistle,blue);
    color: #fff;
}

header h1 {
    margin: 0;
    padding: 20px 0;
}

section p{
    border:2px solid red;
    padding:10px;
    background:linear-gradient(to right,lightblue,lightgreen);
}

#about .about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#about img {
    max-width: 150px;
    border-radius: 50%;
    margin: 20px;
}

#about p {
    max-width: 600px;
}


#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    background:linear-gradient(to right,lightblue,lightgreen);
    color:green;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    
}


#projects .project {
    margin-bottom: 20px;
}

#projects img {
    max-width: 100%;
    height: auto;
}


#resume a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#resume a:hover {
    background: #45a049;
}


#contact p {
    margin: 10px 0;
}

#contact a {
    color: #4CAF50;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}


footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px 0;
}